/* general page styling */

body {
    background-color: black;
    overflow: scroll;
}
#container {
    margin-top: 50px;
    padding-bottom: 60px;
    width: 100%;
}

h2.page-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    color: #17a2b8;
    margin-bottom: 23px;
}

/* instructions dropdown */

button#dropdownMenu2 {
    background-color: #000 !important;
    font-family: 'Orbitron';
    border: 1px solid #fafafa;
    letter-spacing: 2px;
}
.dropdown-menu.p-4.text-muted.show {
    background-color: #000 !important;
    max-width: 343px !important;
}
p {
    color: #17a2b8;
    font-family: 'Orbitron';
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
}
hr {
    border-top: 1px solid #fafafa;
}

/* game buttons and styling */

#outer-circle {
    background: black;
    border-radius: 50%;
    height: 500px;
    width: 500px;
    position: relative;
    border-style: solid;
    border-width: 10px;
    margin: auto;
    margin-top: 50px;
}
#green-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    background: green;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #000000;
}
#orange-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    background: orange;
    top: 50%;
    left: 50%;
    margin: -250px 0px 0px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #000000;
}
#red-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    background: red;
    top: 50%;
    left: 50%;
    margin: 0px -250px 0px -250px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #000000;

}
#blue-button {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    background: blue;
    top: 50%;
    left: 50%;
    margin: 0px 0px -250px 0px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #000000;
}

/* inner game button bard styling */

#button-board {
    position: absolute;
    background: black;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-width: 10px;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: #000000;
}

/* buttons, toggle switches and game counter */

.toggle {
    margin-left: 20px;
    margin-right: 20px;
}
.button {
    background-color: black;
    color: #fafafa;
    font-family: 'Orbitron';
}
#buttons {
    position: absolute;
    font-family: 'Orbitron', sans-serif;
    margin-left: 21px;
    margin-top: 110px;
}
#counter {
    position: absolute;
    background: #330000;
    color: red;
    font-family: 'Orbitron';
    font-size: 20px;
    height: 30px;
    width: 85px;
    margin-left: 71px;
    margin-top: 170px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

i.far.fa-thumbs-down {
    margin-top: 5px;
}

/* buttons, toggle switches and game counter text */

.counter-text {
    position: absolute;
    font-family: Orbitron, sans-serif;
    margin-left: 83px;
    margin-top: 197px;
}
.toggle-text {
    position: absolute;
    font-family: Orbitron, sans-serif;
    margin-left: 19px;
    margin-top: 142px;
}
.text1 span:last-child {
    padding-left: 96px;
}
#icon {
    position: absolute;
    font-size: 65px;
    margin-left: 83px;
    margin-top: 10px;
    color: #000;
}

/* round toggles sourced from w3Schools*/

span {
    color: #fafafa;
    font-size: 12px;
    margin-left: 8px;
}
span.strict {
    margin-left: 50px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 29px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider.round {
    border-radius: 34px;
    background-color: #000;
    border: 2px solid #fafafa;
    margin-left: 1px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    top: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #17a2b8;
}
input:focus + .slider {
    box-shadow: 0 0 1px #17a2b8;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
    background-color: #000;
    border: 2px solid #fafafa;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* modal */

h2.modal-header {
    color: #fafafa;
    font-family: 'Orbitron';
    letter-spacing: 7px;
}
i.fas.fa-trophy {
    color: goldenrod;
}
.modal .modal-content {
    padding: 20px 20px 20px 20px;
    -webkit-animation-name: modal-animation;
    -webkit-animation-duration: 0.5s;
    animation-name: modal-animation;
    animation-duration: 0.5s;
    background-color: #000;
    text-align: center;
    border: 1px solid rgb(94 129 167 / 50%);
}
button#play-again {
    background-color: #000;
    color: goldenrod;
    font-family: 'Orbitron';
    letter-spacing: 4px;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
}
button#quit-game {
    background-color: #000;
    color: goldenrod;
    font-family: 'Orbitron';
    letter-spacing: 4px;
    width: 50%;
    margin-left: 25%;
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
    #container {
        transform: scale(0.7);
        height: fit-content;
    }
    .dropdown-menu.p-4.text-muted.show {
        margin-top: 21rem;

    }
    body {
        width: fit-content;
    }
    h2.page-title.text-center.mt-5  {
        font-size: 50px;
    }
    button#dropdownMenu2 {
        font-size: 21px;
    }
    .dropdown-menu.p-4.text-muted.show {
        max-width: 340px !important;
    }
    p {
        font-size: 20px;
    }
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #container {
        transform: scale(1.0);
        height: 50%;
    }
}

/* modal keyframes */

@-webkit-keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
@keyframes modal-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
